.navbar-dark .navbar-nav .nav-link {
    font-family: Century Gothic;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    font-weight: 600;
}

.logoNav{
    margin-top: 1%;
}

.btn-outline-light {
    font-size: 18px;
    color: black;
    background-color: #f6cab0!important;
    transition: 0.8s;
}

.btn-outline-light:hover {
    color: #03989e;
    background-color: white !important;
    border-color: #f6cab0;
    font-family: Century Gothic;
}
.navbar-toggler-icon{
    color: black;
}


.bg-white .navbar-toggler-icon {
    background-color: #f6cab0;
    border-radius: 5px;
    transition: all;
}



@media only screen and (max-width:980px) { 
    .navbar-nav{
        text-align: center;
    }
    .botaoNavLogin{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* Créditos: https://www.30secondsofcode.org/css/s/hover-underline-animation */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #03989E;
    transform-origin: bottom center;
    transition: transform 0.35s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
  }