.form-control{
    height: 50%;
}
.btnlogin{
    height: 50%;
    margin-top: 1%;
}
.imagemFundo {
   background-image: url('../images/testeimagem.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar-brand{
    color: black !important;
    font-weight: bolder;

}
a.nav-link{
   color: black !important;
}
.bg-rosa  {
    background-color: #f6cab0!important;
}
.btn-outline-light {
    color: black;
    background-color: #f6cab0!important;
   
    
   transition: 0.8s;
}
.btn-outline-light:hover {
    color: #03989e;
    background-color: white !important;
    border-color: #f6cab0;
    transition: 0.8s;
}
.container-login{
    align-items: center;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
}
.btn-outline-info{
    background-color: #9EBD75;
    color: black;
    border-color: #9EBD75;
    transition: 0.8s;
}
.btn-outline-info:hover{
    background-color: white;
    color: #9EBD75;
    border-color: #9EBD75;
    transition: 0.8s;
}
/* roxo 2b0e64 */
/* verde 03989e */
/* rosa f6cab0 */
/* verde #9EBD75 */