body{
    font-family: Century Gothic;
}

.form-control{
    height: 50%;
}

.bg-rosa  {
    background-color: #f6cab0!important;
}

/* css do conteudo */

.container-conteudo {
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
}

.titulos-conteudo{
    font-family: Century-Gothic;
    font-size: 40px;
    margin-right: 0;
    font-weight: 700;
}

/* ---- */

/* css dos forms */

.container-login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    font-family: Century Gothic;
}
.container-login form {
    width: 400px !important;
    padding: 20px !important;
    border: 1px solid #03989E !important;
    border-radius: 10px !important;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width:500px) { 
    .container-login form {
        width: 300px !important;
}
}
.btn {
    background-color: #F1C5A9;
    color: black;
    border-color: #F1C5A9;
}

.p-login{
    text-align: center;
    font-family: Century Gothic;
}

/* ---- */

.btn-outline-info{
    background-color: #9EBD75;
    color: black;
    border-color: #9EBD75;
    transition: 0.8s;
}
.btn-outline-info:hover{
    background-color: white;
    color: #9EBD75;
    border-color: #9EBD75;
    transition: 0.8s;
}


/* paleta de cores

roxo: #2B0E64
azul: #03989E
laranja: #F1C5A9

*/