.form-control{
    height: 50%;
}

.bg-rosa  {
    background-color: #f6cab0!important;
}

/* css dos forms */

.container-login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    font-family: Century Gothic;
}
.container-login form {
    width: 400px !important;
    padding: 20px !important;
    border: 1px solid #03989E !important;
    border-radius: 10px !important;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width:500px) { 
    .container-login form {
        width: 300px !important;
}
}
.btn {
    background-color: #F1C5A9;
    color: black;
    border-color: #F1C5A9;
}

.p-login{
    text-align: center;
    font-family: Century Gothic;
}

/* ---- */

.btn-outline-info{
    background-color: #9EBD75;
    color: black;
    border-color: #9EBD75;
    transition: 0.8s;
}
.btn-outline-info:hover{
    background-color: white;
    color: #9EBD75;
    border-color: #9EBD75;
    transition: 0.8s;
}
/* conteudo */


/* roxo 2b0e64 */
/* verde 03989e */
/* rosa f6cab0 */
/* verde #9EBD75 */