.btnlogin{
    height: 50%;
    margin-top: 1%;
}

.navbar-brand{
    color: black !important;
    font-weight: bolder;

}
a.nav-link{
   color: black !important;
   transition: 0.1s;
}

.bg-rosa  {
    background-color: #f6cab0!important;
}
.bgazul  {
    background-color: #03989E!important;
}


.btn-outline-light {
    color: black;
    background-color: #f6cab0!important;
   
    
   transition: 0.8s;
}

.btn-outline-light:hover {
    color: #03989e;
    background-color: white !important;
    border-color: #f6cab0;
    transition: 0.8s;
}
.dashboard{
   margin-top: 10%;
}

.container-login{
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.container-login form {
    width: 400px !important;
    padding: 20px !important;
    border: 1px solid #03989E !important;
    border-radius: 10px !important;
    margin-left: auto;
    margin-right: auto;
}
/* botões em geral */
.btn {
    background-color: #F1C5A9;
    color: black;
    border-color: #F1C5A9;
}

.p-login{
    text-align: center;
}
/* Botão da agenda */
.btn-bgrosa:hover{
    background-color: #C4A18C;
    color: black;
    border-color: #F1C5A9;
}
.btn-bgrosa:focus{
    border-color: unset;
    box-shadow: none;
}

.btn-bgazul:hover{
    background-color: #00797e;
    color: black;
    border-color: #005255;
}
.btn-bgazul:focus{
    border-color: unset;
    box-shadow: none;
}

/* Botões do carrossel */
/* .carousel-control-prev-icon{
    background-image: url(../images-arearestrita/setaEsquerda-svg.svg);
}

.carousel-control-next-icon{
    background-image: url(../images-arearestrita/setaDireita-svg.svg);
}
*/

 .carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon{
    filter: invert(0) grayscale(0);
}
.tabela{
    width: 50%;
}
.editar i{
    color: #03989e;
} 
.editar a{
    color: #03989e;
} 

.editar a:hover{
    color: #00797e;
}
.editar i:hover{
    color: #00797e;
}

.excluir i{
    color: #ff6862;
}
.excluir a{
    color: #ff6862;
}
.excluir i:hover{
    color: #dc4947
}
.excluir a:hover{
    color: #dc4947
}
.formularioTab{
    background-color: #ffd8bd;
}
/* roxo 2b0e64 */
/* azul 03989e */
/* rosa f6cab0 */
/* verde #9EBD75 */