.btnlogin{
    height: 50%;
    margin-top: 1%;
}

.navbar-brand{
    color: black !important;
    font-weight: bolder;

}
a.nav-link{
   color: black !important;
   transition: 0.1s;
}

.bg-rosa  {
    background-color: #f6cab0!important;
}

.btn-outline-light {
    color: black;
    background-color: #f6cab0!important;
   
    
   transition: 0.8s;
}

.btn-outline-light:hover {
    color: #03989e;
    background-color: white !important;
    border-color: #f6cab0;
    transition: 0.8s;
}
.dashboard{
   padding-top: 10%;
}

.container-login{
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.container-login form {
    width: 400px !important;
    padding: 20px !important;
    border: 1px solid #03989E !important;
    border-radius: 10px !important;
    margin-left: auto;
    margin-right: auto;
}
/* botões em geral */
.btn {
    background-color: #F1C5A9;
    color: black;
    border-color: #F1C5A9;
}

.p-login{
    text-align: center;
}
/* Botão da agenda */
.btn-bgrosa:hover{
    background-color: #C4A18C;
    color: black;
    border-color: #F1C5A9;
}
.btn-bgrosa:focus{
    border-color: unset;
    box-shadow: none;
}


/* roxo 2b0e64 */
/* verde 03989e */
/* rosa f6cab0 */
/* verde #9EBD75 */